@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --main-color: #4C4C6D;
    --main-color-shadow: #34344B;

}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 35px;
    justify-content: center;
    width: fit-content;
}

h4 {
    font-size: 40px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    height: fit-content;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}


html {
    background-image: url(../img/pattern_bg.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 5vh;
}

body {
    display: flex;
    flex-direction: column;
    gap: 7vh;
    font-family: 'Inria Sans';
    font-size: 20px;
    color: white;
}

.icon {
    height: 30px;
}

.white-box {
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--main-color);
    gap: 15px;
    height: fit-content;
    padding: 15px;
    box-shadow: var(--main-color-shadow) 4px 4px;
}

/* **************** Header **************** */

nav {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

nav div {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 5vw;
    height: fit-content;
    background: linear-gradient(to right, rgba(153,153,153,0) 0%,rgba(214,214,214,0.05) 50%,rgba(229,229,229,0) 100%);
    padding: 30px;
}

nav a {
    padding: 10px 20px 10px 20px;
}

nav a:hover, nav a.router-link-active.router-link-exact-active  {
    background-color: rgba(255, 255, 255, 0.06);
    padding: 10px 20px 10px 20px;
    box-shadow: white 4px 4px;
}

/* **************** About me **************** */

#aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

#aboutme article {
    display: flex;
    gap: 5vh;
}

/* Bloc nom sur le côté + image et loca */
#aboutme article .profile {
    display: flex;
    gap: 20px;
}

/* Bloc image + loca */
#aboutme article .profile div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Bloc loca */
#aboutme article .profile span {
    display: flex;
    gap: 5px;
    font-size: 16px;
}

/* Image de moi */
#aboutme article img.picture {
    height: 400px;
    box-shadow: 4px 4px white;
}

/* Bloc liste items + hobbies */
#aboutme article .aboutme-infos {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#aboutme article .aboutme-infos div {
    display: flex;
    gap: 2vh;
}

/* Liste items */
#aboutme article ul {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

/* Items liste infos */
#aboutme article ul li {
    list-style: url(../img/icons/chevron.svg);
}


/* **************** Footer **************** */

footer {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

footer.icon {
    height: 20px;
}

footer span {
    display: flex;
    align-items: self-end;
    gap: 15px;
}

.line {
    border-left: solid;
    border-color: rgba(76, 76, 109, 0.25);
    padding-left: 10px;
}